/* PictureScroller.css */
.picture-scroller {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    z-index: 0;
    max-width: 800px;
}

.picture-scroller__button-container {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
width: 100%;
display: flex;
justify-content: space-between;
opacity: 0.9;
transition: opacity 0.3s ease;
}

.picture-scroller__button-container:hover {
opacity: 1;
}

.picture-scroller__play-stop-container {
position: absolute;
bottom: 130px;
left: 48%;
transform: translateX(-50%);
display: flex;
justify-content: flex-end;
width: 100%;
z-index: 4;
background: transparent;
}

.picture-scroller__button-left,
.picture-scroller__button-right,
.picture-scroller__button-play {
cursor: pointer;
}

.picture-scroller__button-play {
background: transparent;
border: none;
padding: 14px;
}

.picture-scroller__button-play img {
height: 35px;
width: 35px;
opacity: 1;
}

.picture-scroller__button-left,
.picture-scroller__button-right {
background: #0a0a0a63;
border: none;
padding: 3px;
border-radius: 4px;
margin: 0 10px 0 10px;
}

.picture-scroller__button-left img,
.picture-scroller__button-right img {
height: 45px;
width: 45px;
display: flex;
align-items: center;
}

.picture-scroller__article-container {
display: flex;
flex-wrap: wrap;
overflow: hidden;
background-color: black;
height: fit-content;
width: 100%;
border: 1px solid white;
box-shadow: 0 0 5px white;
border-radius: 10px;
}

.picture-scroller__article {
width: 95vw;
animation: picture-scroller__article__fade-in 1s ease 1;
position: relative;
background: linear-gradient(180deg, black, transparent);
}

@keyframes picture-scroller__article__fade-in {
0% {
    opacity: 0;
    right: -100vw;
    background: linear-gradient(180deg, black, transparent);
}
100% {
    opacity: 1;
    right: 0px;
    background: linear-gradient(180deg, black, transparent);
}
}

.picture-scroller__article__img-container {
width: calc(100vw - 2px);
max-width: 800px;
height: 60vw;
max-height: 480px;
/* position: relative; */
overflow: hidden;
z-index: 0;
display: flex;
justify-content: center;
}

.picture-scroller__article p {
color: white;
border-top: 1px solid white;
opacity: 0;
animation: picture-scroller__article__fade-in 2s ease 1;
animation-delay: 0.8s;
animation-fill-mode: forwards;
/* padding: 6px 13px 6px 13px; */
width: 100%;
max-width: 800px;
height: 88px;
font-size: 1.2em;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.picture-scroller__article__img-container img {
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0; 
left: 0; 
padding: 1px;
}

.hide {
display: none;
}

/*Theme settings*/

/*Dark*/
.dark .picture-scroller__button-left,
.dark .picture-scroller__button-right {
    background: rgba(150, 150, 150, 0.37);
}

.dark .picture-scroller__button-play {
background: transparent;
}

.dark .picture-scroller__article p {
    color: white;
    border-top: 1px solid white;
}

/*Light*/
.light .picture-scroller__button-left,
.light .picture-scroller__button-right {
    background: rgba(236, 236, 236, 0.37);
}

.light .picture-scroller__button-play {
background: transparent;
}

.lpight .picture-scroller__article p {
    color: black;
    border-top: 1px solid black;
}

.light .picture-scroller__article-container {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}
/*Rainbow*/
.rainbow .picture-scroller__button-play {
background: transparent;
}