.fade-off-container {
    background: linear-gradient(0deg, white #282828);
    height: 300px;
}

/*Themes*/
/*Dark*/
.dark .fade-off-container {
        background: linear-gradient(0deg, black #282828);
    }