.title-container {
    /* Dina befintliga stilar för headern här */
    transition: background-color 0.3s ease-in-out;
    width: 120%;
    margin: 0 auto;
    /* Andra stilar... */
    text-align: start;
    margin-bottom: 10px;
    border-bottom: 0px;
    position: relative;
    left: -20%;
    background: transparent;
}

.title-container h2 {
    margin-bottom: 0;
    padding-left: 10px;
}

.title-container__underline {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #000000, #ffffff00);
    border-radius: 5px;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dark {
    background-color: #000000;
    color: #ffffff;
}

.light .title-container__underline {
    background: linear-gradient(90deg, #000000, #ffffff00);
}

.dark .title-container__underline {
    background: linear-gradient(90deg, #ffffff, #00000000);
}

.rainbow .title-container {
    background: linear-gradient(90deg, #ffffff60, #00000000);
    border-radius: 10px;
}