.title-container {
    /* Dina befintliga stilar för headern här */
    transition: background-color 0.3s ease-in-out;
    width: 118%;
    margin: 0 auto;
    /* Andra stilar... */
    text-align: start;
    margin-bottom: 10px;
    border-bottom: 3px double;
    position: relative;
    left: -20%;
}

.title-container h2 {
    margin-bottom: 0;
    padding-left: 10px;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dark {
    background-color: #000000;
    color: #ffffff;
}