.video-article-container {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    /* max-width: 1200px; */
}

.video-article-container__info {
    background: linear-gradient(90deg, #2222, #ffffff62) ;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

.light .video-article-container__info {
    background: linear-gradient(90deg, #ffffff, #d4d4d4);
    color: #000000;
}

.dark .video-article-container {
    border: 1px solid rgb(255, 255, 255);
}

.dark .video-article-container__info {
    background: linear-gradient(90deg, #000000, #555555);
    color: #ffffff;
}

.video-article-container__video {
    margin-bottom: -5px;
}