.contact-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 800px;
    width: 68vw;
    margin-bottom: 10px;
}

.contact-form-container button {
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form-container__name,
.contact-form-container__email,
.contact-form-container__message {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* width: 80%; */
}

.contact-form-container__name input,
.contact-form-container__email input,
.contact-form-container__message textarea {
    /* margin-left: 10px; */
    width: 80%;
    border-radius: 5px;
    background: #ffffff65;
}

.form-data-summary-container {
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.contact-form__notice {
    position: absolute;
    display: flex;
    text-wrap: nowrap;
    left: calc(50% - 90px);
    top: 283px;
    font-size: 0.8em;
}

/*Themes*/

/*Dark*/
.dark .contact-form-container__name input,
.dark .contact-form-container__email input,
.dark .contact-form-container__message textarea {
    /* margin-left: 10px; */
    width: 80%;
    border-radius: 5px;
    background: #ffffff65;
    color: white;
}

.light .contact-form-container__name input,
.light .contact-form-container__email input,
.light .contact-form-container__message textarea {
    /* margin-left: 10px; */
    width: 80%;
    border-radius: 5px;
    background: #ffffff65;
    color: black;
}