/* PictureArticle.css */

.article-container {
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    overflow: hidden;
    padding: 3px;
  }
  
  .article-info {
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  /*Themes*/
  /*Light*/
  .light .article-container {
    border: 1px solid black;
  }
  .light .article-info {
    background: linear-gradient(90deg, #ffffff, #d4d4d4);
    color: #000000;
  }
  
  .dark .article-container {
    border: 1px solid rgb(255, 255, 255);
  }
  
  .dark .article-info {
    background: linear-gradient(90deg, #000000, #555555);
    color: #ffffff;
  }
  
  .article-image {
    max-width: 600px;
    width: 70%;
    height: auto;
    border-radius: 5px;
  }
  