header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
}

.header-inner-container {
    direction: flex;
    justify-content: flex-start;
    width: 100%;
    background: purple;
}

.header-logo-theme-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.header-container {
    /* Dina befintliga stilar för headern här */
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
    /* Andra stilar... */
}

.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #000000;
    color: #ffffff;
}