.nav-button--about,
.nav-button--projects,
.nav-button--contact {
    background-color: rgb(172, 172, 172);
    width: 24%;
    min-width: 100px;
    font-family: 'Sixtyfour', sans-serif;
}

.nav-button--about {
    border-radius: 50px 0 0 0;
}

.nav-button--projects {
    border-radius: 0px;
}

.nav-button--contact {
    border-radius: 0 50px 0 0;
}

.navbar-container {
    min-width: 300px;
}