.light-theme-button,
.dark-theme-button,
.rainbow-theme-button {
    border-radius: 50%;
    height: 40px;
    width: 10px;
    display: inline-block;
    border: 1px solid grey;
    transform: scale(0.6);
    margin: 2px;
}

.light-theme-button {
    background-color: white;
}

.dark-theme-button {
    background-color: black;
}

.rainbow-theme-button {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff);
    background-size: 100% 300%;
    animation: rainbow-animation 5s linear infinite alternate-reverse;
}

@keyframes rainbow-animation {
0% {
    background-position: 0% 0%;
}
100% {
    background-position: 100% 100%;
}
}