.experience-container {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.experience-inner-container {
    width: 80%;
    padding: 10px;
}

.experience-container__top {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.experience-container__middle {
    display: flex;
    justify-content: flex-start;
}

.experience-container__bottom {
    display: flex;
    text-align: left;
}