#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.app-container {
  transition: background-color 0.3s ease-in-out;
  display: flex; /* Lägg till detta för att återställa flex-beteendet */
  flex-direction: column; /* Lägg till detta för att återställa flex-beteendet */
  align-items: center; 
  overflow: hidden;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.rainbow {
  animation: rainbowColorsAnimation var(--animation-duration) infinite alternate;
}

@keyframes rainbowColorsAnimation {
  0% {
    background-color: #ff0000;
    color: #ffffff;
  }
  16.666% {
    background-color: #ff7f00;
  }
  33.333% {
    background-color: #ffff00;
  }
  50% {
    background-color: #00ff00;
    color: #ff0000;
  }
  66.666% {
    background-color: #0000ff;
  }
  83.333% {
    background-color: #4b0082;
  }
  100% {
    background-color: #8b00ff;
    color: #ffee00;
  }
}


:root {
  --animation-duration: 10s;
  /* --animation-infinite: infinite; */
}

/* .rainbow {
  background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  background-size: 600% 600%;
  animation: rainbowColorsAnimation var(--animation-duration, 5s) infinite alternate;
  color: transparent;
  background-clip: text;
}

@keyframes rainbowColorsAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


:root {
  --animation-duration: 5s; */
